* {
    margin: 0;
    padding: 0;
    background-color:rgb(61, 8, 206);
}
.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.fuente-n {
    color:rgb(241, 237, 237);
    font-size: 10em;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
}