*{
    margin: 0;
    padding: 0;
    
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fuente-n {
    position: absolute;
    color:rgb(74, 11, 248);
    font-size: 20em;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
}
